.artifact-pdf-sheet { --total-scale-factor: var(--scale-factor); }
.artifact-pdf-text {
  position: absolute;
  inset: 0;
  overflow: clip;
  line-height: 1;
  text-align: initial;
  text-size-adjust: none;
  forced-color-adjust: none;
  transform-origin: 0 0;
  z-index: 2;
  --min-font-size: 1;
  --text-scale-factor: calc(var(--total-scale-factor) * var(--min-font-size));
  --min-font-size-inv: calc(1 / var(--min-font-size));
}
.artifact-pdf-text :is(span, br) {
  color: transparent;
  position: absolute;
  white-space: pre;
  cursor: text;
  transform-origin: 0 0;
}
.artifact-pdf-text > :not(.markedContent),
.artifact-pdf-text .markedContent span:not(.markedContent) {
  z-index: 1;
  --font-height: 0;
  font-size: calc(var(--text-scale-factor) * var(--font-height));
  --scale-x: 1;
  --rotate: 0deg;
  transform: rotate(var(--rotate)) scaleX(var(--scale-x)) scale(var(--min-font-size-inv));
}
.artifact-pdf-text .markedContent { display: contents; }
.artifact-pdf-text ::selection { background: rgba(59, 130, 246, 0.35); }
.artifact-pdf-text br::selection { background: transparent; }
.artifact-pdf-text .endOfContent {
  display: block;
  position: absolute;
  inset: 100% 0 0;
  z-index: 0;
  cursor: default;
  user-select: none;
}
.artifact-pdf-text.selecting .endOfContent {
  top: 0;
}
.artifact-pdf-text[data-main-rotation="90"] {
  transform: rotate(90deg) translateY(-100%);
}
.artifact-pdf-text[data-main-rotation="180"] {
  transform: rotate(180deg) translate(-100%, -100%);
}
.artifact-pdf-text[data-main-rotation="270"] {
  transform: rotate(270deg) translateX(-100%);
}
