openapi: 3.0.0
info:
  title: AI Assistant API
  version: 1.0.0
  description: |
    RAG-based policy assistant API for Caribbean government staff.

    ## Authentication
    All endpoints except `/branding` require authentication via NextAuth session cookies.

    ## User Roles
    - **admin**: Full system access
    - **superuser**: Manage documents/users in assigned categories
    - **user**: Query documents in subscribed categories
  contact:
    name: AI Assistant Support
  license:
    name: Proprietary

servers:
  - url: https://ai.abhirup.app/api
    description: Production
  - url: http://localhost:3000/api
    description: Local Development

tags:
  - name: Chat
    description: Send messages and receive RAG-powered responses (standard and streaming)
  - name: Threads
    description: Manage conversation threads
  - name: User
    description: User-specific endpoints
  - name: Admin - Categories
    description: Category management (admin only)
  - name: Admin - Documents
    description: Document management (admin only)
  - name: Admin - Users
    description: User management (admin only)
  - name: Admin - Settings
    description: System configuration (admin only)
  - name: Admin - System
    description: System operations (admin only)
  - name: Super User - Documents
    description: Document management for assigned categories
  - name: Super User - Users
    description: User subscription management for assigned categories
  - name: Super User - Categories
    description: Category management for superusers (view managed/subscribed, create within quota)
  - name: Admin - Tools
    description: Tool configuration management (admin only)
  - name: Admin - Skills
    description: Skills management (admin only)
  - name: Category Prompts
    description: Category-specific prompt configuration
  - name: Super User - Tools
    description: Category-level tool overrides (superuser only)
  - name: Admin - Data Sources
    description: Data source management (API and CSV)
  - name: Admin - Function APIs
    description: Function API configuration with OpenAI-format schemas
  - name: Branding
    description: Public branding endpoints
  - name: Admin - Agent Bots
    description: Agent bot management (admin/superuser)
  - name: Agent Bots - Public
    description: Agent bot invocation API (API key auth)
  - name: Admin - LLM
    description: LLM provider and model management (admin only)
  - name: Admin - AI & API Setup
    description: Consolidated organization-scoped AI providers, credentials, capabilities, membership, audit, and usage administration
  - name: Autonomous
    description: Autonomous plan control

components:
  schemas:
    Thread:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
        title:
          type: string
          example: "HR Policy Questions"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        uploadCount:
          type: integer
          example: 1
        categoryIds:
          type: array
          items:
            type: integer
          example: [1, 3]
      required:
        - id
        - title
        - createdAt
        - updatedAt
        - uploadCount
        - categoryIds

    Message:
      type: object
      properties:
        id:
          type: string
          example: "msg_abc123"
        role:
          type: string
          enum: [user, assistant]
        content:
          type: string
        sources:
          type: array
          items:
            $ref: '#/components/schemas/Source'
        attachments:
          type: array
          items:
            type: string
        timestamp:
          type: string
          format: date-time
      required:
        - id
        - role
        - content
        - timestamp

    Source:
      type: object
      properties:
        documentName:
          type: string
          example: "HR_Handbook_2024.pdf"
        pageNumber:
          type: integer
          example: 12
        chunkText:
          type: string
          example: "Annual leave entitlement is 20 working days..."
        score:
          type: number
          format: float
          example: 0.89
        isWeb:
          type: boolean
          description: True if source is from Tavily web search

    Document:
      type: object
      properties:
        id:
          type: integer
          example: 1
        filename:
          type: string
          example: "HR_Handbook_2024.pdf"
        size:
          type: integer
          description: File size in bytes
          example: 1048576
        chunkCount:
          type: integer
          example: 45
        uploadedAt:
          type: string
          format: date-time
        uploadedBy:
          type: string
          format: email
        status:
          type: string
          enum: [processing, ready, error]
        errorMessage:
          type: string
        isGlobal:
          type: boolean
        categories:
          type: array
          items:
            $ref: '#/components/schemas/CategoryAssignment'
      required:
        - id
        - filename
        - size
        - uploadedAt
        - uploadedBy
        - status
        - isGlobal

    CategoryAssignment:
      type: object
      properties:
        categoryId:
          type: integer
        categoryName:
          type: string

    Category:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "Human Resources"
        slug:
          type: string
          example: "human-resources"
        description:
          type: string
          nullable: true
        createdBy:
          type: string
          format: email
        createdAt:
          type: string
          format: date-time
        documentCount:
          type: integer
        superUserCount:
          type: integer
        subscriberCount:
          type: integer
      required:
        - id
        - name
        - slug
        - createdAt

    User:
      type: object
      properties:
        email:
          type: string
          format: email
        name:
          type: string
        role:
          type: string
          enum: [admin, superuser, user]
        addedAt:
          type: string
          format: date-time
        addedBy:
          type: string
          format: email
        subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/Subscription'
        assignedCategories:
          type: array
          items:
            $ref: '#/components/schemas/CategoryRef'
      required:
        - email
        - role
        - addedAt
        - addedBy

    Subscription:
      type: object
      properties:
        categoryId:
          type: integer
        categoryName:
          type: string
        isActive:
          type: boolean

    CategoryRef:
      type: object
      properties:
        categoryId:
          type: integer
        categoryName:
          type: string

    ApiError:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message
        code:
          type: string
          enum:
            - AUTH_REQUIRED
            - ADMIN_REQUIRED
            - SUPERUSER_REQUIRED
            - NOT_FOUND
            - FORBIDDEN
            - INVALID_BODY
            - INVALID_ID
            - INVALID_DAYS
            - VALIDATION
            - VALIDATION_ERROR
            - FILE_TOO_LARGE
            - UPLOAD_LIMIT
            - INVALID_FILE_TYPE
            - DUPLICATE
            - INTERNAL
            - SERVICE_ERROR
            - LEGACY_WRITE_DISABLED
        details:
          type: string
          description: Additional context
      required:
        - error

    ProviderStatus:
      type: object
      properties:
        provider:
          type: string
        available:
          type: boolean
        configured:
          type: boolean
        error:
          type: string

    ServiceStatus:
      type: object
      properties:
        name:
          type: string
        model:
          type: string
        provider:
          type: string
        available:
          type: boolean
        configured:
          type: boolean
        error:
          type: string

    Tool:
      type: object
      properties:
        name:
          type: string
          example: "web_search"
        displayName:
          type: string
          example: "Web Search"
        description:
          type: string
        category:
          type: string
          enum: [autonomous, processor]
        enabled:
          type: boolean
        config:
          type: object
        hasDefinition:
          type: boolean
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          type: string
      required:
        - name
        - displayName
        - category
        - enabled

    Skill:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
          example: "Legal Compliance"
        description:
          type: string
          nullable: true
        promptContent:
          type: string
        triggerType:
          type: string
          enum: [always, category, keyword]
        triggerValue:
          type: string
          nullable: true
        categoryRestricted:
          type: boolean
        isIndex:
          type: boolean
        priority:
          type: integer
        isActive:
          type: boolean
        isCore:
          type: boolean
        tokenEstimate:
          type: integer
        categories:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
      required:
        - id
        - name
        - triggerType
        - isActive
        - isCore

    StarterPrompt:
      type: object
      properties:
        label:
          type: string
          maxLength: 30
          example: "Leave Policy"
        prompt:
          type: string
          maxLength: 500
          example: "What is the annual leave policy?"
      required:
        - label
        - prompt

    CategoryPrompt:
      type: object
      properties:
        categoryId:
          type: integer
        promptAddendum:
          type: string
        starterPrompts:
          type: array
          items:
            $ref: '#/components/schemas/StarterPrompt'
        maxCharactersAvailable:
          type: integer
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          type: string

    AgentBot:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: "HR Assistant"
        slug:
          type: string
          example: "hr-assistant"
        description:
          type: string
        is_active:
          type: boolean
        created_by:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - id
        - name
        - slug
        - is_active
        - created_by
        - created_at

    AgentBotVersion:
      type: object
      properties:
        id:
          type: string
          format: uuid
        agent_bot_id:
          type: string
          format: uuid
        version_label:
          type: string
          example: "v1.0"
        is_default:
          type: boolean
        is_active:
          type: boolean
        input_schema:
          $ref: '#/components/schemas/InputSchema'
        output_config:
          $ref: '#/components/schemas/OutputConfig'
        system_prompt:
          type: string
        llm_model:
          type: string
        temperature:
          type: number
        max_tokens:
          type: integer
        include_sources:
          type: boolean
          description: Whether to include RAG source citations in the response
        created_by:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    InputSchema:
      type: object
      properties:
        parameters:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              type:
                type: string
                enum: [string, number, boolean, array]
              description:
                type: string
              required:
                type: boolean
              default:
                type: string

    OutputConfig:
      type: object
      properties:
        enabledTypes:
          type: array
          items:
            type: string
            enum: [text, json, pdf, docx, xlsx, pptx, image, podcast, md, chart, diagram]
        defaultType:
          type: string
          enum: [text, json, pdf, docx, xlsx, pptx, image, podcast, md, chart, diagram]
      required:
        - enabledTypes
        - defaultType

    AgentBotApiKey:
      type: object
      properties:
        id:
          type: string
          format: uuid
        agent_bot_id:
          type: string
          format: uuid
        name:
          type: string
        key_prefix:
          type: string
          example: "pb_abc..."
        permissions:
          type: array
          items:
            type: string
        rate_limit_rpm:
          type: integer
          example: 60
        rate_limit_rpd:
          type: integer
          example: 1000
        expires_at:
          type: string
          format: date-time
        last_used_at:
          type: string
          format: date-time
        is_active:
          type: boolean
        created_by:
          type: string
        created_at:
          type: string
          format: date-time
        revoked_at:
          type: string
          format: date-time

    InvokeRequest:
      type: object
      properties:
        input:
          type: object
          additionalProperties: true
          example:
            query: "What is the annual leave policy?"
        version:
          type: string
          description: "Version ID or 'latest'"
          example: "latest"
        outputType:
          type: string
          enum: [text, json, pdf, docx, xlsx, pptx, image, podcast, md, chart, diagram]
          example: "text"
        async:
          type: boolean
          description: "If true, returns immediately with jobId"
          example: false
        files:
          type: array
          items:
            type: string
          description: "Array of uploaded file IDs to include as context"
          example: ["file_abc123"]
        webhookUrl:
          type: string
          format: uri
          example: "https://your-server.com/webhook"
        webhookSecret:
          type: string
          example: "whsec_1234567890abcdef"
        fallbackType:
          type: string
          enum: [text, json, md]
          description: "Optional override for admin-set fallback output type"
          example: "text"
      required:
        - input
      example:
        input:
          query: "What is the annual leave policy?"
        outputType: "text"

    InvokeResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        jobId:
          type: string
          example: "job_abc123"
        outputs:
          type: array
          items:
            $ref: '#/components/schemas/InvokeOutput'
        sources:
          type: array
          description: "RAG source citations (only when version.include_sources is true)"
          items:
            type: object
            properties:
              documentName:
                type: string
                example: "HR_Handbook_2024.pdf"
              pageNumber:
                type: integer
                example: 12
              chunkText:
                type: string
                example: "Annual leave entitlement is 20 working days..."
              score:
                type: number
                example: 0.89
        tokenUsage:
          $ref: '#/components/schemas/TokenUsage'
        processingTimeMs:
          type: integer
          example: 2340
        status:
          type: string
          enum: [completed, failed]
          description: "Final job status (only present in sync responses)"
          example: "completed"
        usedFallback:
          type: boolean
          description: "True if the primary output type failed and fallback was used"
          example: false
      example:
        success: true
        jobId: "job_abc123"
        outputs:
          - type: "text"
            content: "The annual leave policy entitles employees to 20 working days per year."
        sources:
          - documentName: "HR_Handbook_2024.pdf"
            pageNumber: 12
            chunkText: "Annual leave entitlement is 20 working days..."
            score: 0.89
        tokenUsage:
          promptTokens: 500
          completionTokens: 200
          totalTokens: 700
        processingTimeMs: 2340

    InvokeOutput:
      type: object
      properties:
        type:
          type: string
          enum: [text, json, pdf, docx, xlsx, pptx, image, podcast, md, chart, diagram]
        content:
          type: string
        downloadUrl:
          type: string
        filename:
          type: string
        fileSize:
          type: integer
        mimeType:
          type: string

    TokenUsage:
      type: object
      properties:
        promptTokens:
          type: integer
        completionTokens:
          type: integer
        totalTokens:
          type: integer

    JobStatus:
      type: object
      properties:
        jobId:
          type: string
          example: "job_abc123"
        status:
          type: string
          enum: [pending, running, completed, failed, cancelled]
          example: "completed"
        createdAt:
          type: string
          format: date-time
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        outputs:
          type: array
          items:
            $ref: '#/components/schemas/InvokeOutput'
        tokenUsage:
          $ref: '#/components/schemas/TokenUsage'
        processingTimeMs:
          type: integer
          example: 2340
        error:
          type: object
          properties:
            message:
              type: string
              example: "Model request failed"
            code:
              type: string
              example: "PROCESSING_ERROR"
      example:
        jobId: "job_abc123"
        status: "completed"
        outputs:
          - type: "text"
            content: "The annual leave policy entitles employees to 20 working days per year."
        tokenUsage:
          promptTokens: 500
          completionTokens: 200
          totalTokens: 700
        processingTimeMs: 2340

    AgentBotSpec:
      type: object
      properties:
        name:
          type: string
          example: "HR Policy Assistant"
        slug:
          type: string
          example: "hr-assistant"
        description:
          type: string
          example: "Answers HR policy questions"
        baseUrl:
          type: string
          example: "https://ai.abhirup.app/api/agent-bots/hr-assistant"
        version:
          type: object
          properties:
            number:
              type: integer
              example: 3
            label:
              type: string
              example: "v1.2"
        inputSchema:
          type: object
          properties:
            parameters:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  type:
                    type: string
                  description:
                    type: string
                  required:
                    type: boolean
                  default:
                    type: object
        uploadConfig:
          type: object
          properties:
            enabled:
              type: boolean
            maxFiles:
              type: integer
            maxSizePerFileMB:
              type: integer
            allowedTypes:
              type: array
              items:
                type: string
            required:
              type: boolean
        outputConfig:
          type: object
          properties:
            enabledTypes:
              type: array
              items:
                type: string
            defaultType:
              type: string
            supportsFallback:
              type: boolean
        endpoints:
          type: array
          items:
            type: object
            properties:
              path:
                type: string
              method:
                type: string
              purpose:
                type: string
        features:
          type: object
          properties:
            async:
              type: boolean
            sync:
              type: boolean
            webhooks:
              type: boolean
            includeSources:
              type: boolean

    LLMProvider:
      type: object
      properties:
        id:
          type: string
          example: "openai"
        name:
          type: string
          example: "OpenAI"
        apiKey:
          type: string
          description: "Masked API key"
        apiKeyConfigured:
          type: boolean
        apiBase:
          type: string
        enabled:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    EnabledModel:
      type: object
      properties:
        id:
          type: string
          example: "gpt-4o"
        providerId:
          type: string
          example: "openai"
        displayName:
          type: string
          example: "GPT-4o"
        isDefault:
          type: boolean
        isActive:
          type: boolean
        toolCapable:
          type: boolean
        visionCapable:
          type: boolean
        maxInputTokens:
          type: integer
        costPer1kInput:
          type: number
        costPer1kOutput:
          type: number
        sortOrder:
          type: integer
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    AiSetupOrganization:
      type: object
      description: Organization visible through the consolidated AI & API Setup surface.
      required:
        - id
        - name
        - type
        - isDefault
        - credentialMode
        - status
        - isolationMode
        - createdAt
        - updatedAt
      properties:
        id:
          type: integer
          example: 42
        name:
          type: string
          maxLength: 120
          example: Ministry of Finance
        type:
          type: string
          enum: [DEFAULT, ENTITY, INDIVIDUAL]
        isDefault:
          type: boolean
        credentialMode:
          type: string
          enum: [PLATFORM_MANAGED, ORGANIZATION_BYOK]
        status:
          type: string
          example: active
        isolationMode:
          type: string
          example: SOFT
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        activeCredentialCount:
          type: integer
          minimum: 0
          description: Included on organizations in the consolidated overview.
        membershipRole:
          type: string
          nullable: true
          enum: [org_admin, member]
          description: The viewer's role in this organization, if applicable.

    AiSetupViewer:
      type: object
      required: [role, isSuperAdmin, userId, organizationId, membershipRole]
      properties:
        role:
          type: string
          enum: [super_admin, admin]
        isSuperAdmin:
          type: boolean
        userId:
          type: integer
          nullable: true
        organizationId:
          type: integer
          nullable: true
        membershipRole:
          type: string
          nullable: true
          enum: [org_admin, member]

    AiSetupProvider:
      type: object
      required: [id, name, description, enabled, sortOrder]
      properties:
        id:
          type: string
          example: openai
        name:
          type: string
          example: OpenAI
        description:
          type: string
          nullable: true
        enabled:
          type: boolean
        sortOrder:
          type: integer

    AiSetupCapability:
      type: object
      required: [id, name, description, importance, sortOrder]
      properties:
        id:
          type: string
          example: embeddings
        name:
          type: string
        description:
          type: string
          nullable: true
        importance:
          type: string
          enum: [REQUIRED, RECOMMENDED, OPTIONAL]
        sortOrder:
          type: integer

    AiSetupProviderCapability:
      type: object
      required: [providerId, capabilityId, isSupported, modelOrServiceIds]
      properties:
        providerId:
          type: string
        capabilityId:
          type: string
        isSupported:
          type: boolean
        modelOrServiceIds:
          nullable: true
          description: Registry-defined model/service identifiers; shape depends on the provider catalog entry.

    AiSetupRegistry:
      type: object
      required: [providers, capabilities, providerCapabilities]
      properties:
        providers:
          type: array
          items:
            $ref: '#/components/schemas/AiSetupProvider'
        capabilities:
          type: array
          items:
            $ref: '#/components/schemas/AiSetupCapability'
        providerCapabilities:
          type: array
          items:
            $ref: '#/components/schemas/AiSetupProviderCapability'

    AiSetupCapabilityConfig:
      type: object
      required: [capabilityId, providerId, credentialId, modelOrServiceId, enabled]
      properties:
        capabilityId:
          type: string
          example: llm
        providerId:
          type: string
          description: An empty string in a capability update clears the capability configuration.
          example: openai
        credentialId:
          type: string
          nullable: true
          example: openai-550e8400-e29b-41d4-a716-446655440000
        modelOrServiceId:
          type: string
          nullable: true
          example: gpt-4o
        enabled:
          type: boolean

    AiSetupCapabilityHealth:
      type: object
      required: [capabilityId, importance, state, providerId, warnings]
      properties:
        capabilityId:
          type: string
        importance:
          type: string
          enum: [REQUIRED, RECOMMENDED, OPTIONAL]
        state:
          type: string
          enum: [READY, DEGRADED, UNAVAILABLE, NOT_CONFIGURED]
        providerId:
          type: string
          nullable: true
        warnings:
          type: array
          items:
            type: string

    AiSetupHealthReport:
      type: object
      required: [capabilities, readiness, saveBlocking, warnings]
      properties:
        capabilities:
          type: array
          items:
            $ref: '#/components/schemas/AiSetupCapabilityHealth'
        readiness:
          type: string
          enum: [READY, DEGRADED, UNAVAILABLE, NOT_CONFIGURED]
        saveBlocking:
          type: boolean
          description: Currently always false; incomplete credentials do not block saving configuration.
        warnings:
          type: array
          items:
            type: string

    AiSetupRedactedCredential:
      type: object
      description: Credential metadata with secret material redacted. Raw keys are never returned.
      required:
        - credentialId
        - providerId
        - status
        - isDefault
        - credentialVersion
        - lastVerifiedAt
        - redactedDetail
        - createdAt
        - updatedAt
      properties:
        credentialId:
          type: string
        providerId:
          type: string
        status:
          type: string
          example: active
        isDefault:
          type: boolean
        credentialVersion:
          type: integer
          minimum: 1
        lastVerifiedAt:
          type: string
          format: date-time
          nullable: true
        redactedDetail:
          type: string
          description: Bounded redaction placeholder; never contains the raw credential.
          example: '••••••••'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    AiSetupMember:
      type: object
      required: [userId, email, name, role, status]
      properties:
        userId:
          type: integer
        email:
          type: string
          format: email
        name:
          type: string
          nullable: true
        role:
          type: string
          enum: [org_admin, member]
        status:
          type: string
          example: active

    AiSetupAuditEntry:
      type: object
      description: Redacted credential key-change audit entry.
      required:
        - id
        - organizationId
        - providerId
        - credentialId
        - actorUserId
        - actorEmail
        - action
        - redactedDetail
        - createdAt
      properties:
        id:
          type: integer
        organizationId:
          type: integer
          nullable: true
        providerId:
          type: string
        credentialId:
          type: string
          nullable: true
        actorUserId:
          type: integer
          nullable: true
        actorEmail:
          type: string
          format: email
          nullable: true
        action:
          type: string
          example: replaced
        redactedDetail:
          type: string
          nullable: true
          description: Redacted audit detail only; raw keys are never logged or returned.
        createdAt:
          type: string
          format: date-time

    AiSetupUsageByCredential:
      type: object
      required: [credentialId, providerId, totalTokens, callCount, totalCost]
      properties:
        credentialId:
          type: string
          nullable: true
        providerId:
          type: string
          nullable: true
        totalTokens:
          type: integer
          minimum: 0
        callCount:
          type: integer
          minimum: 0
        totalCost:
          type: number
          format: double
          minimum: 0
          description: Zero when cost visibility is denied.

    AiSetupUsageSummary:
      type: object
      required: [totalTokens, totalCalls, totalCost, byCredential, costUnavailable]
      properties:
        totalTokens:
          type: integer
          minimum: 0
        totalCalls:
          type: integer
          minimum: 0
        totalCost:
          type: number
          format: double
          minimum: 0
          description: Zero when cost visibility is denied.
        byCredential:
          type: array
          items:
            $ref: '#/components/schemas/AiSetupUsageByCredential'
        costUnavailable:
          type: boolean

    AiSetupOverview:
      type: object
      required:
        - flag
        - viewer
        - selectedOrgId
        - organizations
        - registry
        - health
        - credentials
        - activeCredentialCount
        - capabilityConfig
      properties:
        flag:
          type: object
          required: [aiApiSetupUiEnabled]
          properties:
            aiApiSetupUiEnabled:
              type: boolean
        viewer:
          $ref: '#/components/schemas/AiSetupViewer'
        selectedOrgId:
          type: integer
          nullable: true
        organizations:
          type: array
          items:
            $ref: '#/components/schemas/AiSetupOrganization'
        registry:
          $ref: '#/components/schemas/AiSetupRegistry'
        health:
          allOf:
            - $ref: '#/components/schemas/AiSetupHealthReport'
          nullable: true
        credentials:
          type: array
          items:
            $ref: '#/components/schemas/AiSetupRedactedCredential'
        activeCredentialCount:
          type: integer
          minimum: 0
        capabilityConfig:
          type: array
          items:
            $ref: '#/components/schemas/AiSetupCapabilityConfig'

    AutonomousPlanResponse:
      type: object
      properties:
        success:
          type: boolean
        status:
          type: string
          enum: [active, paused, stopped]
        completed_tasks:
          type: integer
        remaining_tasks:
          type: integer
        skipped_tasks:
          type: integer
        total_tasks:
          type: integer
        message:
          type: string

  securitySchemes:
    sessionAuth:
      type: apiKey
      in: cookie
      name: next-auth.session-token
      description: NextAuth session cookie
    apiKeyAuth:
      type: http
      scheme: bearer
      description: API key for agent bot invocation

  responses:
    BadRequest:
      description: Invalid request or validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          example:
            error: "Unauthorized"
            code: "AUTH_REQUIRED"

    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          example:
            error: "Admin access required"
            code: "ADMIN_REQUIRED"

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          example:
            error: "Resource not found"
            code: "NOT_FOUND"

    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          example:
            error: "Internal server error"
            code: "SERVICE_ERROR"

security:
  - sessionAuth: []

paths:
  /chat:
    post:
      tags:
        - Chat
      summary: Send chat message
      description: Send a message and receive a RAG-powered response with document sources
      operationId: sendMessage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: User's question
                  example: "What is the annual leave policy?"
                threadId:
                  type: string
                  format: uuid
                  description: Thread ID
                  example: "550e8400-e29b-41d4-a716-446655440000"
              required:
                - message
                - threadId
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/components/schemas/Message'
                  threadId:
                    type: string
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /threads:
    get:
      tags:
        - Threads
      summary: List threads
      description: List all threads for the current user
      operationId: listThreads
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 100
          description: Max threads to return
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
          description: Pagination offset
      responses:
        '200':
          description: List of threads
          content:
            application/json:
              schema:
                type: object
                properties:
                  threads:
                    type: array
                    items:
                      $ref: '#/components/schemas/Thread'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags:
        - Threads
      summary: Create thread
      description: Create a new conversation thread
      operationId: createThread
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  example: "HR Policy Questions"
                categoryIds:
                  type: array
                  items:
                    type: integer
                  example: [1, 2]
      responses:
        '201':
          description: Thread created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thread'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /threads/{threadId}:
    parameters:
      - name: threadId
        in: path
        required: true
        schema:
          type: string
          format: uuid

    get:
      tags:
        - Threads
      summary: Get thread
      description: Get a specific thread with all messages
      operationId: getThread
      responses:
        '200':
          description: Thread details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Thread'
                  - type: object
                    properties:
                      messages:
                        type: array
                        items:
                          $ref: '#/components/schemas/Message'
                      uploads:
                        type: array
                        items:
                          type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags:
        - Threads
      summary: Update thread
      description: Update thread title or categories
      operationId: updateThread
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  maxLength: 100
                categoryIds:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          description: Thread updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  title:
                    type: string
                  categoryIds:
                    type: array
                    items:
                      type: integer
                  updatedAt:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Threads
      summary: Delete thread
      description: Delete a thread and all associated data
      operationId: deleteThread
      responses:
        '200':
          description: Thread deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  deleted:
                    type: object
                    properties:
                      threadId:
                        type: string
                      messageCount:
                        type: integer
                      uploadCount:
                        type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /threads/{threadId}/upload:
    parameters:
      - name: threadId
        in: path
        required: true
        schema:
          type: string
          format: uuid

    post:
      tags:
        - Threads
      summary: Upload file to thread
      description: Upload a PDF to a thread for compliance checking
      operationId: uploadToThread
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: PDF file (max 5MB)
              required:
                - file
      responses:
        '200':
          description: File uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  filename:
                    type: string
                  size:
                    type: integer
                  uploadCount:
                    type: integer
        '400':
          description: Validation error or upload limit reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          description: File too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /user/categories:
    get:
      tags:
        - User
      summary: Get accessible categories
      description: Get categories available to the current user based on their role
      operationId: getUserCategories
      responses:
        '200':
          description: List of categories
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        slug:
                          type: string
                        description:
                          type: string
        '401':
          $ref: '#/components/responses/Unauthorized'

  /user/subscriptions:
    get:
      tags:
        - User
      summary: Get subscriptions
      description: Get the current user's category subscriptions
      operationId: getUserSubscriptions
      responses:
        '200':
          description: List of subscriptions
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscriptions:
                    type: array
                    items:
                      type: object
                      properties:
                        categoryId:
                          type: integer
                        categoryName:
                          type: string
                        categorySlug:
                          type: string
                        isActive:
                          type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'

  /branding:
    get:
      tags:
        - Branding
      summary: Get branding settings
      description: Get branding settings (public endpoint, no authentication required)
      operationId: getBranding
      security: []
      responses:
        '200':
          description: Branding settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  botName:
                    type: string
                    example: "AI Assistant"
                  botIcon:
                    type: string
                    example: "policy"
                  availableIcons:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        label:
                          type: string
                        lucideIcon:
                          type: string

  /admin/categories:
    get:
      tags:
        - Admin - Categories
      summary: List all categories
      description: List all categories with statistics (admin only)
      operationId: listCategories
      responses:
        '200':
          description: List of categories
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    post:
      tags:
        - Admin - Categories
      summary: Create category
      description: Create a new category (admin only)
      operationId: createCategory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: "Human Resources"
                description:
                  type: string
                  example: "HR policies and procedures"
              required:
                - name
      responses:
        '201':
          description: Category created
          content:
            application/json:
              schema:
                type: object
                properties:
                  category:
                    $ref: '#/components/schemas/Category'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Category already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /admin/categories/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer

    get:
      tags:
        - Admin - Categories
      summary: Get category details
      description: Get category details with users and documents (admin only)
      operationId: getCategory
      responses:
        '200':
          description: Category details
          content:
            application/json:
              schema:
                type: object
                properties:
                  category:
                    $ref: '#/components/schemas/Category'
                  superUsers:
                    type: array
                    items:
                      type: object
                      properties:
                        userId:
                          type: integer
                        email:
                          type: string
                        name:
                          type: string
                  subscribers:
                    type: array
                    items:
                      type: object
                      properties:
                        userId:
                          type: integer
                        email:
                          type: string
                        name:
                          type: string
                        isActive:
                          type: boolean
                  documentCount:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - Admin - Categories
      summary: Update category
      description: Update a category (admin only)
      operationId: updateCategory
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
      responses:
        '200':
          description: Category updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  category:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      slug:
                        type: string
                      description:
                        type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Admin - Categories
      summary: Delete category
      description: Delete a category (admin only). Documents become unassigned.
      operationId: deleteCategory
      responses:
        '200':
          description: Category deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  deleted:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      documentsUnassigned:
                        type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/documents:
    get:
      tags:
        - Admin - Documents
      summary: List all documents
      description: List all global policy documents (admin only)
      operationId: listDocuments
      responses:
        '200':
          description: List of documents
          content:
            application/json:
              schema:
                type: object
                properties:
                  documents:
                    type: array
                    items:
                      $ref: '#/components/schemas/Document'
                  totalChunks:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    post:
      tags:
        - Admin - Documents
      summary: Upload document
      description: Upload a new policy document with category assignment (admin only)
      operationId: uploadDocument
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: PDF file (max 50MB)
                categoryIds:
                  type: string
                  description: JSON array of category IDs
                  example: "[1, 2]"
                isGlobal:
                  type: string
                  description: '"true" to index in all categories'
                  example: "false"
              required:
                - file
      responses:
        '202':
          description: Document accepted for processing
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  filename:
                    type: string
                  size:
                    type: integer
                  status:
                    type: string
                    enum: [processing]
                  isGlobal:
                    type: boolean
                  categoryIds:
                    type: array
                    items:
                      type: integer
                  message:
                    type: string
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Document already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '413':
          description: File too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /admin/documents/{docId}:
    parameters:
      - name: docId
        in: path
        required: true
        schema:
          type: integer

    get:
      tags:
        - Admin - Documents
      summary: Get document details
      description: Get details of a specific document (admin only)
      operationId: getDocument
      responses:
        '200':
          description: Document details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags:
        - Admin - Documents
      summary: Update document
      description: Update document category assignments (admin only)
      operationId: updateDocument
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                categoryIds:
                  type: array
                  items:
                    type: integer
                isGlobal:
                  type: boolean
      responses:
        '200':
          description: Document updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  filename:
                    type: string
                  isGlobal:
                    type: boolean
                  categories:
                    type: array
                    items:
                      $ref: '#/components/schemas/CategoryAssignment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Admin - Documents
      summary: Delete document
      description: Delete a policy document from the global store (admin only)
      operationId: deleteDocument
      responses:
        '200':
          description: Document deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  deleted:
                    type: object
                    properties:
                      id:
                        type: integer
                      filename:
                        type: string
                      chunksRemoved:
                        type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/users:
    get:
      tags:
        - Admin - Users
      summary: List all users
      description: List all users with their subscriptions/assignments (admin only)
      operationId: listUsers
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    post:
      tags:
        - Admin - Users
      summary: Add user
      description: Add a new user with optional subscriptions/assignments (admin only)
      operationId: addUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                role:
                  type: string
                  enum: [admin, superuser, user]
                name:
                  type: string
                subscriptions:
                  type: array
                  items:
                    type: integer
                  description: Category IDs for role="user"
                assignedCategories:
                  type: array
                  items:
                    type: integer
                  description: Category IDs for role="superuser"
              required:
                - email
                - role
      responses:
        '200':
          description: User added
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      email:
                        type: string
                      name:
                        type: string
                      role:
                        type: string
                      addedAt:
                        type: string
                      addedBy:
                        type: string
                  message:
                    type: string
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    patch:
      tags:
        - Admin - Users
      summary: Update user role
      description: Update a user's role (admin only)
      operationId: updateUserRole
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                role:
                  type: string
                  enum: [admin, superuser, user]
              required:
                - email
                - role
      responses:
        '200':
          description: Role updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Admin - Users
      summary: Remove user
      description: Remove a user from the allowlist (admin only)
      operationId: removeUser
      parameters:
        - name: email
          in: query
          required: true
          schema:
            type: string
            format: email
      responses:
        '200':
          description: User removed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '400':
          description: Cannot remove yourself
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/users/{userId}/subscriptions:
    parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer

    get:
      tags:
        - Admin - Users
      summary: Get user subscriptions
      description: Get a user's category subscriptions (admin only)
      operationId: getUserSubscriptions
      responses:
        '200':
          description: User subscriptions
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      id:
                        type: integer
                      email:
                        type: string
                      name:
                        type: string
                      role:
                        type: string
                  subscriptions:
                    type: array
                    items:
                      type: object
                      properties:
                        categoryId:
                          type: integer
                        categoryName:
                          type: string
                        categorySlug:
                          type: string
                        isActive:
                          type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      tags:
        - Admin - Users
      summary: Add subscription
      description: Add a subscription for a user (admin only)
      operationId: addUserSubscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                categoryId:
                  type: integer
              required:
                - categoryId
      responses:
        '201':
          description: Subscription added
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  subscription:
                    type: object
                    properties:
                      userId:
                        type: integer
                      categoryId:
                        type: integer
                      categoryName:
                        type: string
                      isActive:
                        type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: User already subscribed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

    put:
      tags:
        - Admin - Users
      summary: Toggle subscription
      description: Toggle subscription active status (admin only)
      operationId: toggleUserSubscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                categoryId:
                  type: integer
                isActive:
                  type: boolean
              required:
                - categoryId
                - isActive
      responses:
        '200':
          description: Subscription toggled
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  subscription:
                    type: object
                    properties:
                      userId:
                        type: integer
                      categoryId:
                        type: integer
                      isActive:
                        type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Admin - Users
      summary: Remove subscription
      description: Remove a subscription from a user (admin only)
      operationId: removeUserSubscription
      parameters:
        - name: categoryId
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Subscription removed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  removed:
                    type: object
                    properties:
                      userId:
                        type: integer
                      categoryId:
                        type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/documents/text:
    post:
      tags:
        - Admin - Documents
      summary: Upload text content
      description: Upload text content directly as a document (bypasses OCR)
      operationId: uploadTextDocument
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 255
                  description: Document name
                content:
                  type: string
                  minLength: 10
                  description: Text content (max 10MB)
                categoryIds:
                  type: array
                  items:
                    type: integer
                  description: Category IDs to assign
                isGlobal:
                  type: boolean
                  description: Index in all categories
              required:
                - name
                - content
      responses:
        '202':
          description: Document accepted for processing
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  filename:
                    type: string
                  size:
                    type: integer
                  status:
                    type: string
                    enum: [processing]
                  message:
                    type: string
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Document already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '413':
          description: Content too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /admin/documents/{docId}/reindex:
    parameters:
      - name: docId
        in: path
        required: true
        schema:
          type: integer

    post:
      tags:
        - Admin - Documents
      summary: Reindex document
      description: Reindex an existing document (re-extract and re-embed)
      operationId: reindexDocument
      responses:
        '202':
          description: Reindex started
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  filename:
                    type: string
                  status:
                    type: string
                    enum: [processing]
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/settings:
    get:
      tags:
        - Admin - Settings
      summary: Get all settings
      description: Get all configurable settings (admin only)
      operationId: getSettings
      responses:
        '200':
          description: All settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  rag:
                    type: object
                    properties:
                      chunkSize:
                        type: integer
                      chunkOverlap:
                        type: integer
                      topK:
                        type: integer
                      cacheTTLSeconds:
                        type: integer
                  llm:
                    type: object
                    properties:
                      model:
                        type: string
                      temperature:
                        type: number
                      maxTokens:
                        type: integer
                  acronyms:
                    type: object
                    properties:
                      mappings:
                        type: object
                        additionalProperties:
                          type: string
                  tavily:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                      cacheTTLSeconds:
                        type: integer
                  branding:
                    type: object
                    properties:
                      botName:
                        type: string
                      botIcon:
                        type: string
                  embedding:
                    type: object
                    properties:
                      model:
                        type: string
                      dimensions:
                        type: integer
                  reranker:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                      providers:
                        type: array
                        items:
                          type: object
                          properties:
                            provider:
                              type: string
                              enum: [bge-large, cohere, bge-base, local]
                            enabled:
                              type: boolean
                      cohereApiKey:
                        type: string
                      topKForReranking:
                        type: integer
                      minRerankerScore:
                        type: number
                  uploadLimits:
                    type: object
                    properties:
                      maxFilesPerThread:
                        type: integer
                      maxFileSizeMB:
                        type: integer
                      allowedTypes:
                        type: array
                        items:
                          type: string
                  availableModels:
                    type: array
                    items:
                      type: string
                  modelPresets:
                    type: array
                    items:
                      type: object
                  brandingIcons:
                    type: array
                    items:
                      type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    put:
      tags:
        - Admin - Settings
      summary: Update settings
      description: |
        Update settings by type (admin only). While the consolidated AI & API Setup
        feature is enabled, writes for `llm`, `embedding`, `reranker`, `ocr`, and
        `tavily` settings are legacy writes and return `409 LEGACY_WRITE_DISABLED`;
        use `/admin/ai-setup` instead. Other settings types remain writable.
      operationId: updateSettings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum:
                    - rag
                    - llm
                    - acronyms
                    - tavily
                    - uploadLimits
                    - retention
                    - preset
                    - branding
                    - embedding
                    - reranker
                    - restoreAllDefaults
                settings:
                  type: object
                  description: Settings object (varies by type)
              required:
                - type
      responses:
        '200':
          description: Settings updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  settings:
                    type: object
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: A consolidated AI/provider setting can no longer be written through this legacy route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: This legacy settings page is read-only. Configure provider keys and AI/API capabilities from the consolidated AI & API Setup page.
                code: LEGACY_WRITE_DISABLED

  /admin/system-prompt:
    get:
      tags:
        - Admin - Settings
      summary: Get system prompt
      description: Get the current system prompt with metadata (admin only)
      operationId: getSystemPrompt
      responses:
        '200':
          description: System prompt
          content:
            application/json:
              schema:
                type: object
                properties:
                  systemPrompt:
                    type: string
                  updatedAt:
                    type: string
                    format: date-time
                  updatedBy:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    put:
      tags:
        - Admin - Settings
      summary: Update system prompt
      description: Update the system prompt (admin only)
      operationId: updateSystemPrompt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                systemPrompt:
                  type: string
                  minLength: 10
              required:
                - systemPrompt
      responses:
        '200':
          description: System prompt updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  systemPrompt:
                    type: string
                  updatedAt:
                    type: string
                    format: date-time
                  updatedBy:
                    type: string
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/refresh:
    post:
      tags:
        - Admin - System
      summary: Reindex all documents
      description: Reindex all documents and clear cache (admin only)
      operationId: refreshAll
      responses:
        '202':
          description: Reindex started
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  documentsQueued:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/stats:
    get:
      tags:
        - Admin - System
      summary: Get system statistics
      description: Get system statistics for the admin dashboard (admin only)
      operationId: getStats
      responses:
        '200':
          description: System statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  database:
                    type: object
                    properties:
                      users:
                        type: integer
                      categories:
                        type: integer
                      documents:
                        type: integer
                      threads:
                        type: integer
                      messages:
                        type: integer
                  vectorStore:
                    type: object
                    properties:
                      collections:
                        type: integer
                      totalVectors:
                        type: integer
                  storage:
                    type: object
                    properties:
                      totalBytes:
                        type: integer
                      documentsBytes:
                        type: integer
                      threadsBytes:
                        type: integer
                      percentUsed:
                        type: number
                  recentActivity:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        description:
                          type: string
                        timestamp:
                          type: string
                          format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/providers:
    get:
      tags:
        - Admin - System
      summary: Check provider status
      description: Check the status and availability of configured LLM providers (admin only)
      operationId: getProviders
      responses:
        '200':
          description: Provider status
          content:
            application/json:
              schema:
                type: object
                properties:
                  providers:
                    type: object
                    properties:
                      openai:
                        $ref: '#/components/schemas/ProviderStatus'
                      mistral:
                        $ref: '#/components/schemas/ProviderStatus'
                      ollama:
                        $ref: '#/components/schemas/ProviderStatus'
                      azure:
                        $ref: '#/components/schemas/ProviderStatus'
                  services:
                    type: object
                    properties:
                      embedding:
                        $ref: '#/components/schemas/ServiceStatus'
                      ocr:
                        $ref: '#/components/schemas/ServiceStatus'
                      audio:
                        $ref: '#/components/schemas/ServiceStatus'
                  usingProxy:
                    type: boolean
                  proxyUrl:
                    type: string
                    nullable: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/reranker-status:
    get:
      tags:
        - Admin - System
      summary: Check reranker status
      description: Check reranker availability (BGE cross-encoder, Cohere API, and local bi-encoder)
      operationId: getRerankerStatus
      responses:
        '200':
          description: Reranker status
          content:
            application/json:
              schema:
                type: object
                properties:
                  cohere:
                    type: object
                    properties:
                      available:
                        type: boolean
                      configured:
                        type: boolean
                      error:
                        type: string
                  local:
                    type: object
                    properties:
                      available:
                        type: boolean
                      model:
                        type: string
                      error:
                        type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /superuser/documents:
    get:
      tags:
        - Super User - Documents
      summary: List assigned documents
      description: Get documents in super user's assigned categories
      operationId: getSuperuserDocuments
      responses:
        '200':
          description: Documents list
          content:
            application/json:
              schema:
                type: object
                properties:
                  assignedCategories:
                    type: array
                    items:
                      type: object
                      properties:
                        categoryId:
                          type: integer
                        categoryName:
                          type: string
                        categorySlug:
                          type: string
                  documents:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        filename:
                          type: string
                        size:
                          type: integer
                        status:
                          type: string
                          enum: [processing, ready, error]
                        uploadedBy:
                          type: string
                        uploadedAt:
                          type: string
                          format: date-time
                        categories:
                          type: array
                          items:
                            $ref: '#/components/schemas/CategoryAssignment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Super user access required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

    post:
      tags:
        - Super User - Documents
      summary: Upload document
      description: Upload a document to one of super user's assigned categories
      operationId: uploadSuperuserDocument
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: PDF file (max 50MB)
                categoryId:
                  type: string
                  description: Category ID (must be assigned to super user)
              required:
                - file
                - categoryId
      responses:
        '202':
          description: Document accepted for processing
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  filename:
                    type: string
                  size:
                    type: integer
                  status:
                    type: string
                    enum: [processing]
                  message:
                    type: string
                  category:
                    type: object
                    properties:
                      categoryId:
                        type: integer
                      categoryName:
                        type: string
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: No access to this category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '413':
          description: File too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /superuser/documents/text:
    post:
      tags:
        - Super User - Documents
      summary: Upload text content
      description: Upload text content directly to one of super user's assigned categories
      operationId: uploadSuperuserTextDocument
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 255
                  description: Document name
                content:
                  type: string
                  minLength: 10
                  description: Text content (max 10MB)
                categoryId:
                  type: integer
                  description: Category ID (must be assigned to super user)
              required:
                - name
                - content
                - categoryId
      responses:
        '202':
          description: Document accepted for processing
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  filename:
                    type: string
                  size:
                    type: integer
                  status:
                    type: string
                    enum: [processing]
                  message:
                    type: string
                  category:
                    type: object
                    properties:
                      categoryId:
                        type: integer
                      categoryName:
                        type: string
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: No access to this category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /superuser/documents/{docId}:
    parameters:
      - name: docId
        in: path
        required: true
        schema:
          type: integer

    delete:
      tags:
        - Super User - Documents
      summary: Delete document
      description: Delete a document (only if uploaded by this super user)
      operationId: deleteSuperuserDocument
      responses:
        '200':
          description: Document deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  deleted:
                    type: object
                    properties:
                      id:
                        type: integer
                      filename:
                        type: string
                      chunksRemoved:
                        type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Cannot delete this document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          $ref: '#/components/responses/NotFound'

  /superuser/users:
    get:
      tags:
        - Super User - Users
      summary: List category users
      description: Get users subscribed to super user's assigned categories
      operationId: getSuperuserUsers
      responses:
        '200':
          description: Users list
          content:
            application/json:
              schema:
                type: object
                properties:
                  assignedCategories:
                    type: array
                    items:
                      type: object
                      properties:
                        categoryId:
                          type: integer
                        categoryName:
                          type: string
                        categorySlug:
                          type: string
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        email:
                          type: string
                        name:
                          type: string
                          nullable: true
                        subscriptions:
                          type: array
                          items:
                            type: object
                            properties:
                              categoryId:
                                type: integer
                              categoryName:
                                type: string
                              isActive:
                                type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Super user access required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

    post:
      tags:
        - Super User - Users
      summary: Add subscription
      description: Add subscription for a user to one of super user's categories
      operationId: addSuperuserSubscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userEmail:
                  type: string
                  format: email
                categoryId:
                  type: integer
              required:
                - userEmail
                - categoryId
      responses:
        '201':
          description: Subscription added
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  subscription:
                    type: object
                    properties:
                      userId:
                        type: integer
                      categoryId:
                        type: integer
                      categoryName:
                        type: string
                      isActive:
                        type: boolean
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: No access to this category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: User already subscribed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

    delete:
      tags:
        - Super User - Users
      summary: Remove subscription
      description: Remove subscription from one of super user's categories
      operationId: removeSuperuserSubscription
      parameters:
        - name: userEmail
          in: query
          required: true
          schema:
            type: string
            format: email
        - name: categoryId
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Subscription removed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  removed:
                    type: object
                    properties:
                      userId:
                        type: integer
                      categoryId:
                        type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: No access to this category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          $ref: '#/components/responses/NotFound'

  /superuser/categories:
    get:
      tags:
        - Super User - Categories
      summary: Get accessible categories
      description: |
        Get super user's accessible categories including:
        - Managed categories (from super_user_categories - full control)
        - Subscribed categories (from user_subscriptions - read-only access)
        - Category creation quota information
      operationId: getSuperuserCategories
      responses:
        '200':
          description: Categories and quota
          content:
            application/json:
              schema:
                type: object
                properties:
                  managedCategories:
                    type: array
                    description: Categories the superuser can manage (upload docs, manage users)
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        slug:
                          type: string
                        description:
                          type: string
                          nullable: true
                        documentCount:
                          type: integer
                        subscriberCount:
                          type: integer
                        createdByMe:
                          type: boolean
                          description: Whether this superuser created the category
                  subscribedCategories:
                    type: array
                    description: Categories the superuser has read-only access to (for chat)
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        slug:
                          type: string
                        description:
                          type: string
                          nullable: true
                        isActive:
                          type: boolean
                  quota:
                    type: object
                    description: Category creation quota for this superuser
                    properties:
[...]
